<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/vue-masonry@0.10.12/dist/vue-masonry-plugin.js"></script>

    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <title>MasonryLink</title>
</head>

<body>
    <header>
        <div class="content">
            <h3 id="mainTitle">mainTitle</h3>
        </div>
    </header>
    <main>

        <div class="content" id="app">
            <div class="sidebar">
                <ul>
                    <li v-for="category in categories">
                        <span>{{category.name}}</span>
                    </li>
                </ul>
            </div>

            <div class="right">

                <div class="topbar">

                    <span>
                        <input type="text">
                    </span>
                    <button @click="isAddArea = !isAddArea">add</button>
                    <!-- add -->
                    <div class="card cardAction" :class="{toggleAction: isAddArea}">
                        <div class="card_content">
                            <div class="actionArea">
                                <span @click="isAddArea = !isAddArea" :class="{toggleAction: isAddArea}">╳</span>
                            </div>
                            <div>
                                <!-- <input type="file" accept="image/*" @change="upLoadImg($event)"> -->
                                <label>
                                    <input type="file" id="cardPic" accept="image/*"> Upload
                                </label>

                                <input type="text" name="" id="barColor" placeholder="color" value="#ffb7b7">
                                <input type="text" name="" id="cardTitle" placeholder="title" value="Title">
                                <textarea id="cardContent" rows="3" placehoder="content" value="Content">Content Content Content</textarea>
                            </div>
                            <div class="addBtn" @click="addCard()">
                                <span>Add</span>
                            </div>
                        </div>
                    </div>
                    <!-- edit -->
                    <div class="card cardAction" :class="{toggleAction: isEditArea}">
                        <div class="card_content">
                            <div class="actionArea">
                                <span @click="isEditArea = !isEditArea" :class="{toggleAction: isEditArea}">╳</span>
                            </div>
                            <div>
                                <!-- <input type="file" accept="image/*" @change="upLoadImg($event)"> -->
                                <label>
                                    <input type="file" id="cardPic" accept="image/*"> Upload
                                </label>

                                <input type="text" name="" id="barColor" placeholder="color" value="#ffb7b7">
                                <input type="text" name="" id="cardTitle" placeholder="title" value="Title">
                                <textarea id="cardContent" rows="3" placehoder="content" value="Content">Content Content Content</textarea>
                            </div>
                            <div class="addBtn" @click="addCard()">
                                <span>Add</span>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- masonry -->
                <div class="case" v-masonry transition-duration="0.3s" item-selector=".card">

                    <div class="card" v-masonry-tile v-for="card in list">

                        <div class="card_content">

                            <div class="actionArea">
                                <span @click="removeCard(card)">╳</span>
                                <span class="editBtn" @click="editCard(card)">edit</span>
                            </div>
                            <a :href="card.pic" target="_blank" class="pic" :style="{ 'background-image' : 'url(\'' + card.pic + '\')' }"></a>
                            <div class="title">
                                <!-- <span class="color_bar" :style="{'background-color':card.bar}"></span> -->
                                <span>{{card.title}}</span>

                            </div>
                            <div class="text">
                                <span class="color_bar" :style="{'background-color':card.bar}"></span>
                                <span>{{card.text}}</span>
                                <span>

                            </div>

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
<script src="js/index.js"></script>
</html>
