* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #f2f2f2;
  font-family: "Microsoft JhengHei",Geneva,Verdana,Arial, Helvetica,sans-serif;
}

body input, body textarea {
  font-family: "Microsoft JhengHei",Geneva,Verdana,Arial, Helvetica,sans-serif;
  outline: none;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .content .sidebar {
  width: 10%;
  background-color: #ffffff;
}

main .content .right {
  width: 90%;
}

main .content .right .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px 0;
  position: relative;
  z-index: 1;
}

main .content .right .topbar > span {
  width: 30%;
}

main .content .right .topbar > span input {
  height: 30px;
  width: 100%;
}

main .content .right .case {
  width: 100%;
  padding: 0;
}

main .content .right .card {
  display: inline-block;
  width: 25%;
  padding: 6px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

main .content .right .card .card_content {
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease;
}

main .content .right .card .card_content .actionArea {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease;
}

main .content .right .card .card_content .actionArea:hover {
  background: rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(85%, transparent));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent 85%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), transparent 85%);
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent 85%);
}

main .content .right .card .card_content .actionArea:hover span {
  opacity: .7;
}

main .content .right .card .card_content .actionArea span {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease;
}

main .content .right .card .card_content .actionArea span.editBtn {
  right: 30px;
}

main .content .right .card .card_content .pic {
  display: block;
  width: 100%;
  height: 180px;
  background-image: url("http://fakeimg.pl/500x500/282828/eae0d0/");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .content .right .card .card_content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 0;
}

main .content .right .card .card_content .title > span {
  display: inline-block;
  font-size: 20px;
}

main .content .right .card .card_content .color_bar {
  width: 5px;
  margin-right: 5px;
}

main .content .right .card .card_content .text {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  word-break: break-all;
}

main .content .right .card .card_content .text > span:nth-child(2) {
  width: calc(100% - 5px - 5px);
}

main .content .right .card .card_content input, main .content .right .card .card_content textarea {
  width: 100%;
  border-width: 0px;
  border-color: transparent;
  border-bottom-width: 1px;
  border-bottom-color: darkgray;
}

main .content .right .card .card_content textarea {
  resize: none;
}

main .content .right .card:hover .card_content {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

main .content .right .cardAction {
  position: absolute;
  top: 100%;
  left: 0;
}

main .content .right .cardAction.card.toggleAction {
  display: none;
}

main .content .right .cardAction .card_content {
  display: inline-block;
  padding: 15px;
}

main .content .right .cardAction .card_content:hover .actionArea {
  background: transparent;
}

main .content .right .cardAction .card_content:hover .actionArea span {
  opacity: 1;
}

main .content .right .cardAction .card_content .actionArea {
  pointer-events: none;
}

main .content .right .cardAction .card_content .actionArea:hover {
  background: transparent;
}

main .content .right .cardAction .card_content .actionArea span {
  opacity: 1;
  color: #bbbbbb;
  pointer-events: auto;
}

main .content .right .cardAction .card_content .addBtn span {
  display: inline-block;
  padding: 4px 6px;
  background: #15aaea;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

main .content .right .cardAction .card_content label {
  display: inline-block;
  padding: 4px 6px;
  background: #15aaea;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

main .content .right .cardAction .card_content label input[type="file"] {
  display: none;
}

main .content .right .cardAction input {
  margin-top: 15px;
}
